[submodule "landstalker_gfx/third_party/wxWidgets"]
	path = landstalker_gfx/third_party/wxWidgets
	url = git://github.com/wxWidgets/wxWidgets.git
[submodule "landstalker_gfx/third_party/libpng"]
	path = landstalker_gfx/third_party/libpng
	url = git://github.com/glennrp/libpng.git
[submodule "landstalker_gfx/third_party/zlib"]
	path = landstalker_gfx/third_party/zlib
	url = git://github.com/madler/zlib.git
