name: build-release-windows

on:
  push:
  release:
  pull_request:
    branches:
      - master

jobs:
  build-release:
    name: Windows release build
    runs-on: windows-2022
    env:
      BUILD_TYPE: Release
    strategy:
      fail-fast: false
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          path: landstalker_editor
          submodules: 'recursive'

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '3.30.x'

      - name: 'Build Release'
        working-directory: ${{github.workspace}}/landstalker_editor
        run: |
          cmake -S . -B build -DLANDSTALKER_BUILD_SHARED=OFF -DCMAKE_BUILD_TYPE=Release
          cmake --build build -j32 --config Release
          cmake --install build --prefix ./release --config Release

      - name: 'Build Debug'
        working-directory: ${{github.workspace}}/landstalker_editor
        run: |
          cmake -S . -B build_debug -DLANDSTALKER_BUILD_SHARED=OFF -DCMAKE_BUILD_TYPE=Debug
          cmake --build build_debug -j32 --config Debug
          cmake --install build_debug --prefix ./debug --config Debug

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: liblandstalker_binary_windows
          path: |
            ${{github.workspace}}/landstalker_editor/release
            ${{github.workspace}}/landstalker_editor/debug
